:root {
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: black;
  color: #888888;
  font-family: "Noto Sans Mono", monospace, ui-monospace; 
  font-size: 16px;
  height: 100%;
  --grid-size: round(up, 1ch, 2px);
}

main {
  background-size: calc(var(--grid-size) * 1) calc(var(--grid-size) * 1);
  height: 100%;
  background-image:
    linear-gradient(to right,  #111111 1px, transparent 1px),
    linear-gradient(to bottom, #111111 1px, transparent 1px);
}

div {
  font-size: 1em;
  line-height: calc(var(--grid-size) * 3);
  padding-left: var(--grid-size);
  letter-spacing: calc(var(--grid-size) - 1ch);
}

h1 {
  font-size: 2em;
  font-weight: 700;
  padding-left: calc(var(--grid-size) / 2);
  line-height: calc(var(--grid-size) * 3);
  letter-spacing: calc(var(--grid-size) - 1ch);
  margin-bottom: calc(var(--grid-size));
}
