* {
  margin: 0;
  padding: 0;
}

body {
  background: #0a0a0a;
  font-family: system-ui, sans-serif;
  display: flex;
  height: 100svh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #d4d4d4;
  font-size: 16px;
}

@keyframes appear {
  from {
    transform: scale(0.2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

main {
  text-align: center;

  animation-name: appear;
  animation-duration: 618ms;
  animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);

  border: 1px solid #171717;
  border-radius: 0.618em;
}

h1 {
  font-size: 1.618em;
  color: #fafafa;
  font-weight: 700;
  line-height: 1em;
  border-bottom: 1px solid #171717;
  padding: 1em 1.618em;
}

.links {
  display: flex;
}

.link {
  display: flex;
  align-items: center;
  line-height: 1.618em;
  position: relative;
  padding: 1em;
  flex-grow: 1;
  justify-content: center;
  color: #a3a3a3;
  box-shadow: 1px 0 0 #171717;
  text-decoration: none;
}

.link:first-child {
  border-bottom-left-radius: 0.618em;
}

.link:last-child {
  box-shadow: none;
  border-bottom-right-radius: 0.618em;
}

.link:hover {
  color: #eff6ff;
  background-color: #1e40af;
  box-shadow:
    0 0 0 1px #2563eb,
    0 0 1.618em #1e40af66;
}

.link > .icon {
  display: inline;
  height: 1em;
  vertical-align: middle;
  margin-right: 0.618em;
}

canvas {
  position: absolute;
  inset: 0;
  z-index: 10;
  pointer-events: none;
}

.icon-scale {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
}

@media (min-width: 960px) {
  .icon-scale {
    width: 160px;
  }
}

@media (min-width: 1280px) {
  .icon-scale {
    width: 200px;
  }
}
